<html>
    <head>
        <title>My test</title>
    </head>
    <body>
       <h1>My money</h1>
<script type="text/javascript">
function changeNavigation(id) 
{document.getElementById('main').innerHTML=document.getElementById(id).innerHTML} 
</script>


       <form method="POST">
            <input name="money_text" id="money_new_item" placeholder="00.00" />
            <input id="submit_data" type="submit" value="Submit"  > 
            {% csrf_token %}
       </form>
       <table id="TableOfTotal">
         <tr><td>Total:</td><td>{{Total}}</td></tr>
       </table>
       <table id="TableOfA">
       <tr><td>Average :</td><td>{{Average}}</td></tr> 
       </table>
**-----------------------------------**</br>
Data :
       <table id="id_list_table">
            {% for item in items %}
                <tr><td>{{ item.date}}</td> <td>----> {{ forloop.counter }} :  </td><td>{{ item.money }}</td></tr>
            {% endfor %}
       </table>
**-----------------------------------**
       <table id="TableOfMax">
       <tr><td>Max :</td><td>{{Max}}</td></tr> 
       </table>
       <table id="TableOfMin">
       <tr><td>Min :</td><td>{{Min}}</td></tr> 
       </table>

<span onClick="changeNavigation('maxTomin')" name="maxTomin" >&nbsp;&nbsp;&nbsp;[maxTomin]&nbsp;&nbsp;&nbsp;</span>
<span onClick="changeNavigation('minTomax')" name="minTomax" >&nbsp;&nbsp;&nbsp;[minTomax]&nbsp;&nbsp;&nbsp;</span>

<div class="test" id="main">
</div>

<!--Main page-->

<div id="maxTomin" style="display: none">
 maxTomin :
       <table id="max-->min">
            {% for maxmin in maxTomin %}
               <tr><td>{{ forloop.counter }} : {{maxmin}}</td></tr>
            {% endfor %}
       </table>
</div>
<div id="minTomax" style="display: none">
minTomax :
       <table id="min-->max">
            {% for minmax in minTomax %}
               <tr><td>{{ forloop.counter }} : {{minmax}}</td></tr>
            {% endfor %} 
       </table>
</div>

    </body>
</html>
